<!DOCTYPE html>
<html>
	<head>

		<title>The Agriculturists Weather</title>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="components/mobile/styles.css">

		<link rel="icon" type="image/png" href="./assets/icons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="./assets/icons/favicon-32x32.png" sizes="16x16">
		
		<link rel="manifest" href="./manifest.json">
	</head>

	<body></body>

</html>
