@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    font-size: 16px;
}

* {
    font-family: 'Poppins', sans-serif;

    box-sizing: border-box;

    border: none;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.6rem;
}

.app {
    width: 100%;
    height: 100vh;
    position: relative;

    color: white;
}

.app::before {
    content: '';
    background: url('../../assets/backgrounds/sunset-over-field-iphone.jpg') no-repeat center center/cover;
    position: fixed;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    width: 96%;
    margin: auto;
    margin-top: 5rem;

    max-width: 700px;
    min-height: 700px;
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.top h1 {
    float: right;
    font-size: 3em;
}

.top .left {
    float: left;
}

.location {
    font-size: 0.75em;
}

.description {
    font-size: 1.5em;
}

.temp {
    margin: auto 0 auto 0;
}

.crops-overview {
    text-align: center;
}

.crops-overview a {
    float: right;
}

.stats-overview a {
    float: right;
}

.stats-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats-overview h1 {
    margin-bottom: 1em;
}

.stat-box {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1em;
    border-radius: 5px;
    text-align: center;
}

.stat-box h2 {
    font-size: 1em;
}

.stat-box p {
    font-size: 2em;
}

.button {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
}

.crop-button img {
    width: 20%;
}

/* --- Add Crops ------------------------------------------------------------ */
.addCrop{
    border-radius: 10px;
    padding: 0.5em;
    margin: 1em;
    background-color: rgba(0, 0, 0, 0.4);
}

.myCrops{
    border-radius: 10px;
    padding: 0.5em;
    margin: 1em;
    background-color: rgba(0, 0, 0, 0.4);
}

#crops{
    width: 100%;
    border-collapse: collapse;
}

#crops td, #crops th {
    
    padding: 8px;
}
/* --- Search Bar ------------------------------------------------------------*/

.search {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    margin: auto;
    padding: 1em;
    border-radius: 5px;
}

/* --- Header ------------------------------------------------------------*/
.header {
    width: 100%;
    position: fixed;
    background-color: rgb(184, 77, 15);
    padding: 1em;
    z-index: 2;
    top: 0;
}

/* --- Nav Bar ------------------------------------------------------------*/

.nav-bar h1 {
    display: inline;
    margin-left: 10px;
    height: 100%;
}

.nav-bar a {
    margin-top: 0;
    height: 100%;
}

/* --- Search Bar ------------------------------------------------------------*/

.search {
    height: 3rem;
    border-radius: 1em;
    padding: 0.5rem;
}

.search-icon {
    margin: auto auto auto 0.5rem;
    float: left;
    width: 1.5rem;
    height: 100%;
}

input[type=text] {
    background: none;
    color: white;
    width: calc(100% - 3rem);
    margin-left: 0.7rem;
    height: 100%;
    padding: 0.5rem;
    border-radius: 1em;
}
