@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    font-size: 14px;
}

* {
    font-family: 'Poppins', sans-serif;

    box-sizing: border-box;

    border: none;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.6rem;
}

.app {
    width: 100%;
    height: 100vh;
    position: relative;

    color: white;
}

.app::before {
    content: '';
    background: url('../../assets/backgrounds/sunset-over-field-iphone.jpg') no-repeat center center/cover;
    position: fixed;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    width: 96%;
    margin: auto;
    margin-top: 5rem;

    max-width: 700px;
    min-height: 700px;
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

section {
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.button {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
    transition: all 200ms ease;
}

.button:hover {
    text-decoration: none;
    background-color: rgb(184, 77, 15, 0.4);
    color: white;
    border: white solid 1px;
}

/* --- Homepage top ------------------------------------------------------------ */

.top h1 {
    float: right;
    font-size: 3em;
}

.top .left {
    float: left;
}

.location {
    font-size: 0.75em;
}

.description {
    font-size: 1.5em;
}

.temp {
    margin: auto 0 auto 0;
}
/* --- Homepage Crops overview ------------------------------------------------------------ */

.crops-overview {
    text-align: center;
}

.crops-overview a {
    float: right;
}

.crops-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.crop-icon img {
    width: 100%;
    padding: 0.5rem;
}

/* --- Homepage Todays Stats ------------------------------------------------------------ */

.stats-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats-overview h1 {
    margin-bottom: 1rem;
    text-align: center;

}

.stat-box {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem 0.2rem;
    border-radius: 5px;
    text-align: center;
    width: 33%;
    min-width: 6rem;
    
}

.stat-box h2 {
    font-size: 1rem;
}

.stat-box p {
    font-size: 1.5rem;
}

/* --- Homepage week Stats ------------------------------------------------------------ */

.week-overview a {
    float: right;
}

.week-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.week-overview h1 {
    margin-bottom: 1rem;
}

.weekday-summary-box {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 5px;
    text-align: center;
}

.weekday-summary-box p {
    font-size: 1em;
}

.weekday-summary-box img {
    width: 100%;
}

/* --- Add Crops ------------------------------------------------------------ */
.addCrop{
    border-radius: 10px;
    padding: 0.5em;
    margin: 1em;
    background-color: rgba(0, 0, 0, 0.4);
}

/* --- My Crops ------------------------------------------------------------ */

.crop-table {
    border-radius: 1rem;
    margin: 2em 0;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: left;
    font-size: 0.9rem;
}

.crop-table th {

    border-bottom: white solid 2px;
    padding: 0.5rem;
}

.crop-table img {

    width: 4rem;
    padding: 5%;
    margin: auto;
}

.crop-table tr {
    margin: 1rem 0;
    padding: 1rem 0;
}

.crop-table td {
    padding: 0 1rem;
}

/* --- Search Bar ------------------------------------------------------------*/

.search {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    margin: auto;
    padding: 1em;
    border-radius: 5px;
}

/* --- Header ------------------------------------------------------------*/
.header {
    width: 100%;
    position: fixed;
    background-color: rgb(184, 77, 15);
    padding: 1em;
    z-index: 2;
    top: 0;
}

/* --- Nav Bar ------------------------------------------------------------*/

.nav-bar h1 {
    display: inline;
    margin-left: 10px;
    height: 100%;
}

.nav-bar a {
    margin-top: 0;
    height: 100%;
}

/* --- Search Bar ------------------------------------------------------------*/

.search {
    height: 3rem;
    border-radius: 1em;
    padding: 0.5rem;
}

.search-icon {
    margin: auto auto auto 0.5rem;
    float: left;
    width: 1.5rem;
    height: 100%;
}

input[type=text] {
    background: none;
    color: white;
    width: calc(100% - 3rem);
    margin-left: 0.7rem;
    height: 100%;
    padding: 0.5rem;
    border-radius: 1em;
}

/* --- forecast table ------------------------------------------------------------*/

.forecast-table {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.forecast-table img {
    width: 5rem;
    margin: auto;
}

.forecast-table td {
    padding: 1rem;
}

.forecast-table h1 {
    font-family: monospace;
}

.forecast-table tr>td:first-child {
    border-right: solid white 2px;
}
